<div class="jumbotron">
<h1><i class="fa fa-cloud"></i> Stukdo</h1>
<p>Tämä on Tehätävälista joka on toteutettu ruby on rails kielellä</p>
<%= link_to "Sign Up","#", class: "btn btn-primary btn-lg" %>
</div>

